kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: psp:local-static-provisioner
  namespace: {{ local_static_provisioner_namespace }}
subjects:
  - kind: ServiceAccount
    name: local-static-provisioner
    namespace: {{ local_static_provisioner_namespace }}
roleRef:
  kind: ClusterRole
  name: psp:local-static-provisioner
  apiGroup: rbac.authorization.k8s.io
