apiVersion: v1
kind: Service
metadata:
  name: local-static-provisioner
  namespace: {{ local_static_provisioner_namespace }}
  labels:
    app: local-static-provisioner
spec:
  type: ClusterIP
  selector:
    app: local-static-provisioner
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
